
# package directories
node_modules

.env*
!.env.example
.aio

# Build output
dist
actions/mcp-server/static
actions/mcp-server/embedded-ui.js
actions/mcp-server/action-config.js
*.tsbuildinfo
.vite

# Test output
junit.xml

# IDE & Temp
.cache
.idea
.nyc_output
.vscode
coverage

# Parcel
.parcel-cache

# OSX
.DS_Store

# yeoman
.yo-repository

# this template's e2e test directory
temp-template-test